$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


body { font: 12px Arial;}

path {
    stroke: steelblue;
    stroke-width: 3;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#chart1 {
    margin-left: 25%;
}

.featurette-heading {
    font-size: 50px;
    margin-left:30%;
    // margin-bottom: 100px;
    margin-top: 30px;
}

h4, .h4 {
    font-size: 21px;
    line-height: 25px;
}




#copy {
    font-size: 18px;
}
